name: Build and test container image

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build-and-test:
    name: Build and test
    runs-on: ubuntu-latest
    steps:
      - 
        name: Checkout
        uses: actions/checkout@v3.3.0
      -
        name: Build
        id: docker_build
        uses: docker/build-push-action@v3
        with:
          context: .
          load: true
          platforms: linux/amd64
          tags: awbn/gyb-test
      -
        name: Test
        uses: plexsystems/container-structure-test-action@v0.3.0
        with:
          image: awbn/gyb-test:latest
          config: test/tests.yml
